@media (max-width:999px){
    body{
        grid-template-areas: 
            "header header"
            "main main"

    }
    aside , .title_header , header .search_header , .full_name_user{
        display: none;
    }

    header{
        padding: 8px;
    }

    header .user_action{
        gap: 5px;
    }

    aside{
        width: 50%;
        background-color: var(--color_white);
        z-index: 999;
    }

}

@media (min-width:1000px){
    header .burger_menu, main .search_header{
        display: none;
    }

    
}